@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.light-mode {
  --primary-color: rgba(224, 71, 132, 0.75);
  --header-color: rgb(224, 71, 132);
  --header-font-color: rgb(0, 0, 0);
  --secondary-color: hsl(0, 0%, 13%);
  --btn-color-1: rgb(98, 98, 98);
  --btn-color-2: #fff;
  --container-background: url("../img/light.jpg");
  --footer-img: url("../img/git-black.png");
}

.dark-theme {
  --header-color: rgb(0, 26, 65);
  --header-font-color: #fff;
  --primary-color: rgba(9, 51, 114, 0.75);
  --secondary-color: #212121;
  --btn-color-1: #fff;
  --btn-color-2: #000000;
  --container-background: url("../img/dark.jpg");
  --footer-img: url("../img/git-white.png");
}

#mute {
  width: 60px;
  position: relative;
  cursor: pointer;
  background-color: var(--btn-color-1);
  font-size: xx-large;
}
.container {
  background-image: var(--container-background);
  background-size: cover;
  transition: background-image 0.75s linear;
  display: flex;
  flex-direction: column;
  background-color: rgb(135, 206, 235);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}
.logo {
  max-width: 150px;
}

header {
  width: 100%;
  height: 10vh;
  background: var(--header-color);
  display: flex;
  position: relative;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: var(--header-font-color);
}
header div {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.calculator {
  height: 500px;
  width: 400px;
  background-color: var(--primary-color);
  margin: 0 auto;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgb(226 28 83) 0px 1px 2px 0px, rgb(181 189 98) 0px 2px 6px 2px;
}

.container h1 {
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

.title {
  background-color: rgb(135, 206, 235);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.result {
  height: 30%;
  border-radius: 10px 10px 10px 10px;
  word-wrap: break-word;
  overflow-y: scroll;

  box-shadow: 0px 2px 1px #ffffff;
}

.history {
  height: 20px;
  text-align: right;
  margin: 0 20px;
  padding-top: 20px;
  color: white;
  font-size: 15px;
}
/*Adds space between the operator and operands*/
#history-value{
  letter-spacing: 5px;
}

.output {
  text-align: right;
  margin: 0 20px;
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(158, 250, 158);
}

.keyboard {
  padding-top: 28px;
  text-align: center;
}

button {
  border-radius: 15%;
  width: 20%;
  margin: 1%;
  height: 50px;
  border-width: 0;
  font-weight: bold;
  font-size: 1em;
}

.number,
.empty {
  background-color: var(--primary-color);
  color: white;
}

.operator,
.number {
  cursor: pointer;
  box-shadow: -14px -2px 66px #aaaaaab3, 0px 2px 1px #ffffff;
}

button:active {
  width: 22%;
  height: 52px;
  font-size: 0.8em;
}

button:focus {
  outline: 0;
}

button:nth-child(4) {
  background-color: rgb(23, 231, 214);
  /* box-shadow: 0 8px 16px 8px   rgb(0, 32, 80); */
  z-index: 5;
  /* position: absolute; */
}

button:nth-child(8) {
  background-color: rgb(176, 231, 23);
  /* box-shadow: 0 8px 16px 0   rgb(89, 130, 190); */
  z-index: 5;
  /* position: absolute; */
}

button:nth-child(12) {
  background-color: rgb(231, 117, 23);
  /* box-shadow: 0 8px 16px 0   rgb(89, 130, 190); */
  z-index: 5;
  /* position: absolute; */
}

button:nth-child(16) {
  background-color: rgb(255, 133, 133);
  /* box-shadow: 0 8px 16px 0  rgb(89, 130, 190); */
  z-index: 5;
  /* position: absolute; */
}

button:nth-child(20) {
  background-color: rgb(72, 231, 23);
  /* box-shadow: 0 8px 16px 0   rgb(89, 130, 190); */
  z-index: 5;
  /* position: absolute; */
}

.number:hover,
.operator:hover {
  background-color: var(--btn-color-2);
  color: var(--btn-color-1);
}
footer {
  height: 7vh;
  background-color: var(--header-color);
  color: var(--header-font-color);
  text-align: center;
  align-items: center;
  font-size: 1.8em;
  font-family: "Poppins", sans-serif;
}

.contribute a {
  text-decoration: none;
  color: black;
}

/* For darkmode */
#toggle-icon {
  height: 50px;
  cursor: pointer;
  padding-right: 25px;
}
#icon {
  height: 50px;
  padding-right: 25px;
}
#git {
  content: var(--footer-img);
  height: 30px;
}
@media only screen and (max-width: 800px) {
  /* using static units here instead of dynamic units to maintain a minimum base size as any resizing below this will cause the text to not be easily readable */

  .calculator {
    width: 300px;
  }

  button {
    width: 55px;
  }
}

.result::-webkit-scrollbar {
  display: none;
}
