body{
    background-color: rgb(0, 0, 0);
}

.container{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/mybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    max-width: 1000px;
    margin: 20px auto;
    
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.calculator{
    height: 500px;
    width: 400px;
    background-color:rgb(9, 51, 114);
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0   rgb(64, 112, 184);
}

.result{
    height: 150px;
}

.history{
    height: 20px;
    text-align: right;
    margin: 0 20px;
    padding-top: 20px;
    color:white;
    font-size: 15px;
}

.output{
    text-align: right;
    margin: 0 20px;
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(158, 250, 158);
}

.keyboard{
    height: 400px;
}

button{
    border-radius: 50%;
    width: 80px;
    margin: 5px;
    height: 50px;
    border-width: 0;
    font-weight: bold;
    font-size: 17px;
    
}

.number , .empty{
    background-color: rgb(9, 51, 114);
    color: white;
}

.operator , .number{
    cursor: pointer;
}

button:active{
    width: 83px;
    height: 52px;
    font-size: 13px;
}

button:focus{
    outline: 0;;
}

button:nth-child(4){
    background-color : rgb(23, 231, 214);
    box-shadow: 0 8px 16px 8px   rgb(89, 130, 190);
    z-index: 5;
    /* position: absolute; */
}

button:nth-child(8){
    background-color : rgb(23, 72, 231);
    box-shadow: 0 8px 16px 0   rgb(89, 130, 190);
    z-index: 5;
    /* position: absolute; */
}

button:nth-child(12){
    background-color : rgb(231, 117, 23);
    box-shadow: 0 8px 16px 0   rgb(89, 130, 190);
    z-index: 5;
    /* position: absolute; */
}

button:nth-child(16){
    background-color : rgb(23, 231, 51);
    box-shadow: 0 8px 16px 0  rgb(89, 130, 190);
    z-index: 5;
    /* position: absolute; */
}

button:nth-child(20){
    background-color : rgb(231, 23, 120);
    box-shadow: 0 8px 16px 0   rgb(89, 130, 190);
    z-index: 5;
    /* position: absolute; */
}

.number:hover , .operator:hover{
    background-color: black;
    color : white ;
}